In [ ]:
!pip install word2number

In [27]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import math
from word2number import w2n

In [33]:
df = pd.read_csv('hiring.csv')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 384.0+ bytes

In [35]:
df.head(10)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [36]:
df =df.rename(columns={'test_score(out of 10)':'test_score',
                   'interview_score(out of 10)':'interview_score',
                   'salary($)':'salary'})

In [37]:
df.experience = df.experience.fillna('zero')
mean_score = math.floor(df['test_score'].mean())
df['test_score'] = df['test_score'].fillna(mean_score)
df

  experience  test_score  interview_score  salary
0       zero         8.0                9   50000
1       zero         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         7.0                7   72000
7     eleven         7.0                8   80000

In [39]:
df.experience = df.experience.apply(lambda x: w2n.word_to_num(x))
df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         7.0                7   72000
7          11         7.0                8   80000

In [40]:
lr = LinearRegression()
lr.fit(df[['experience','test_score','interview_score']],df.salary)

LinearRegression()

In [42]:
M=lr.coef_
b=lr.intercept_

In [43]:
lr.predict([[2,9,6],[12,10,10]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([53713.86677124, 93747.79628651])

In [45]:
M[0]*2+M[1]*9+M[2]*6+b , M[0]*12+M[1]*10+M[2]*10+b

(53713.86677124005, 93747.79628650834)